Thumbs.db
.DS_store
.idea/
log*
*.log
node_modules/
tmp*/

.husky/
.vscode/
.eslintignore
.eslintrc.js
.lintstagedrc
.nodemonrc.json
.nvmrc

tests/
__tests__/
coverage/
__coverage__/
.gitignore
.nodemonrc.json
.npmrc
.nvmrc

demo.ts
demo.js
demo.d.ts

index.ts

*.config.js
*.config.ts

test.js
test.ts

tsconfig.json
tslint.json

package-lock.json