Thumbs.db
.DS_store
.idea/
log*
*.log
node_modules/
tmp*/

.vscode/
.husky/

tests/
__tests__/
coverage/
__coverage__/
.gitignore
.nodemonrc.json
.npmrc
.nvmrc

demo.ts
demo.js
demo.d.ts

index.js
index.d.ts

*.config.js
*.config.ts

test.js
test.ts

tsconfig.json
tslint.json